# Variables específicas del entorno de DESARROLLO
# Complementa .env.example raíz — NO commitear el .env real

APP_ENV=development
LOG_LEVEL=DEBUG
ODOO_LOG_LEVEL=debug
ODOO_WORKERS=0

# BD local (Docker Compose)
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Deshabilitar envío real de emails en desarrollo
SMTP_HOST=mailhog
SMTP_PORT=1025
